body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    flex-shrink: 0;
}
.sidebar a {
    color: white;
    text-decoration: none;
}
.sidebar .nav-link {
    padding: 15px;
}
.content {
    flex-grow: 1;
    background-color: #f8f9fa;
    overflow-y: auto;
}
.topbar {
    height: 60px;
    background-color: #151515;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    padding: 0 20px;
}